body {
    text-align: center;
    font-family: sans-serif;
    background: black;
    color: white;
}

#root {
    margin: auto;
    display: inline-block;
}

button {
    background: #333;
    color: lightblue;
    cursor: pointer;
    border: none;
    padding: 10px;
}

button:hover {
    background: #111;
}

input {
    border: none;
    padding: 10px;
}

li {
    text-align: right;
}

li > div > button:first-of-type {
    margin-left: 10px;
}